
.submit_title{
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 1em 0;
    border: 2px solid #000000;
}

.data_container{
    border: 2px solid #000000;
    margin-top: 1em;
}

.data_container>h2{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.data_container>p,
.data_group>p{
    font-weight: bold;
}

.data_group__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#submit_id, 
#submit_valor,
#submit_descricao{
    text-align: center;
}

.data_group{
    width: 15em;
}